
.answerTexter {
    width: 100%;
}

.answerTexter_textarea {
    width: 100%;
    height: 5rem;
    display: block;
    margin-bottom: 0.5rem;
}

.answerTexter_footer {
    display: flex;
    justify-content: space-between;
}
.answerTexter_span--warning {
    color: red;
}